<div class="container">
  <h1>Enter A Twitter Name!</h1>
  <form action='/' method='post'>
    <input type='text' name='user' placeholder='Enter Twitter Name You Twit'>
    <button type='submit'>FETCH MAI TWEETS!!!11</button>
  </form>
</div>

<div id='tweets'>
</div>

<div>
  <a href="/new_tweet">Send A New Tweet</a>
</div>
