<h1>Send A New Tweet</h1>

<form action='/new_tweet' method='post'>
  <textarea type='textarea' name='tweet_content' rows=5 cols=30 placeholder='Tweet Content Hurr' >
  </textarea>
  <button>Tweet!</button>
</form>
